/* load fonts  */

@import url('https://fonts.googleapis.com/css?family=Roboto|Vollkorn+SC');

$offwhite: #ffffff;
$darkblue: #000;
$red: red;
$yellow: yellow;
$deepred: beige;
$blue: blue;


$color-backgrounds: red;
$sectionborder: brown;

$font-main: 'Roboto', sans-serif;
$font-sub: 'Vollkorn SC', serif;
$font-highlight: 'Roboto', sans-serif;

$color-headlines: black;
$color-item-border: red;
$color-media-head: blue;
$color-main: gray;

$roundness: 0 10px 20px 30px 40px 50px 60px;